pipeline/transform_file.json
{
	"name": "transform_file",
	"properties": {
		"activities": [
			{
				"name": "get-data-detail",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "F1_precessed",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "dataset-exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get-data-detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('get-data-detail').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "1-race_results",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "0-create_presentation_database",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Section-21/trans/1.race_results",
								"baseParameters": {
									"name": "race_results",
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.v_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksCourse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "2-driver_standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "1-race_results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Section-21/trans/2.driver_standings",
								"baseParameters": {
									"name": "driver_standings",
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.v_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksCourse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "3-constructor_stanadings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "1-race_results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Section-21/trans/3.constructor_stanadings",
								"baseParameters": {
									"name": "constructor_stanadings",
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.v_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksCourse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "4-calculated_race_results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Section-21/trans/4.calculated_race_results",
								"baseParameters": {
									"p_data_source": "calculated_race_results",
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.v_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksCourse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "0-create_presentation_database",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Section-21/trans/0.create_presentation_database",
								"baseParameters": {
									"name": "race_results",
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.v_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksCourse",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"v_window_end_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}